# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\滴滴滴\2024年需求\毕业设计\旅游景点网上购票系统-分离-PP\travelTicket\vue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
